html {
  box-sizing: border-box;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#first-card-ctn,
#second-card-ctn {
  width: 85%;
  max-width: 375px;
  background: linear-gradient(#222933, #171e28);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

#second-card-ctn {
  display: none;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: hsl(218, 16%, 23%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-hover:hover {
  background-color: hsl(25, 97%, 53%) !important;
  color: #fff;
  cursor: pointer;
}

.fa-star {
  color: hsl(25, 97%, 53%);
}

h1 {
  font-size: 1.5rem;
}

p {
  line-height: 1.6em;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-top: -20px;
}

#numbers {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  width: 100%;
}

button {
  margin: 0 auto;
  width: 100%;
  color: #fff;
  background-color: hsl(25, 97%, 53%);
  border-radius: 25px;
  padding: 10px;
  border: none;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

button:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

img {
  width: 50%;
  margin: 0 auto;
}

.new-body {
  margin-top: 0;
  text-align: center;
}

#thank-you {
  text-align: center;
}

#result-bg {
  background-color: hsl(218, 16%, 23%);
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
}

#result-bg p {
  color: hsl(25, 97%, 53%);
  padding: 3px;
}

#thankyou-body {
  margin-top: -10px;
}

#warning {
  color: red;
  font-size: 14px;
  text-align: center;
  display: none;
  margin-bottom: -25px;
}
